* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  width: 100vw;
  /* height: 300px; */
  height: 100vh;
  border: 1px solid red;
  background-image: url("bg-header-desktop.png");
  background-repeat: no-repeat;
}
