* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  font-family: "Bai Jamjuree", sans-serif;
}

header {
  width: 100vw;
  height: 200px;
  /* height: 100vh; */
  /* border: 1px solid red; */
  background-image: url("bg-header-desktop.png");
  background-repeat: no-repeat;
}

.hero {
  /* border: 1px solid red; */
  width: 60rem;
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50px;
}

.hero img {
  height: 8rem;
  margin-bottom: 20px;
  box-shadow: 1px;
}

h1,
h2,
h3,
h4 {
  color: hsl(210, 10%, 33%);
}

p {
  color: hsl(201, 11%, 66%);
  font-size: 1.6rem;
  margin: 20px 0;
}

.btn-IOS {
  color: white;
  background-color: hsl(171, 66%, 44%);
  height: 40px;
  width: 17rem;
  border: none;
  border-bottom: 3px solid hsl(171, 68%, 39%);
  border-radius: 50px;
  cursor: pointer;
  margin-top: 10px;
}

.btn-IOS:hover {
  background-color: hsl(171, 65%, 48%);
}

.btn-MAC {
  color: white;
  background-color: hsl(233, 100%, 69%);
  height: 40px;
  width: 17rem;
  border: none;
  border-bottom: 3px solid hsl(233, 79%, 64%);
  border-radius: 50px;
  cursor: pointer;
}

.btn-MAC:hover {
  background-color: hsl(233, 100%, 73%);
}

main {
  margin-top: 250px;
}

.details {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
}

.details-computer {
  display: flex;
  margin-top: 65px;
}

.computer img {
  width: 63rem;
  height: 47rem;
}

.details-computer div {
  width: 30rem;
  margin-left: 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.details-computer div p {
  font-size: 1.4rem;
}

.details-devices {
  text-align: center;
  margin-top: 120px;
}

.devices img {
  width: 75rem;
  height: 47rem;
  margin-top: 60px;
}

.details-only {
  margin-top: 30px;
  text-align: center;
}

.details-workflow {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 60px;
}

.details-workflow__section {
  width: 360px;
  text-align: center;
}

.icon {
  height: 28px;
}

.logos {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.logos * {
  height: 40px;
  margin: 0 -30px;
}

.details-clipboard {
  width: 60rem;
  margin: 0 auto;
  text-align: center;
  margin-top: 120px;
}

footer {
  border: 1px solid red;
  background-color: #f5f6f8;
  display: flex;
}
